.gcf-template-form {
  h1 {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
  }

  label {
    width: 100px;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding-right: 10px;
  }

  input[type="text"],
  select {
    border: 1px solid #ccc;
    box-shadow: none;
    min-height: 30px;
    width: 300px;
  }
}

.gcf-template-form__group {
  margin-bottom: 10px;
}

.gcf-template-form__fields {
  display: inline-block;
}

.gcf-template-form__field {
  position: relative;
  border: 1px dashed #ccc;
  margin-bottom: 10px;
  padding: 30px 10px 10px;
  width: 300px;
  box-sizing: border-box;

  > div {
    clear: both;
  }

  label {
    width: 50px;
  }

  input[type="text"],
  select {
    width: 200px;
  }
}

.gcf-template-form__remove-field {
  position: absolute;
  top: 5px;
  right: 5px;
}

.gcf-template-form__footer .components-button {
  margin-right: 10px;
}

.gcf-template-form__footer {
  margin-top: 20px;
  margin-left: 110px;
}
