.gcf-template-form {
  h1 {
    margin-bottom: 30px;
  }

  label {
    line-height: 30px;
    display: block;
    vertical-align: top;
  }

  input[type="text"],
  select {
    border: 1px solid #ccc;
    box-shadow: none;
    min-height: 30px;
    max-width: 400px;
  }
}

.gcf-template-form__group,
.gcf-fields__field-list-form,
.gcf-fields__field-form > div {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: minmax(80px, 150px) minmax(140px, 1fr);
  grid-gap: 10px;
}

.gcf-template-form__field {
  position: relative;
  border: 1px solid #ddd;
  background: #f5f5f5;
  margin-bottom: 10px;
  padding: 30px 10px 10px;

  > div {
    clear: both;
  }
}

.gcf-template-form__remove-field {
  position: absolute;
  top: 5px;
  right: 5px;
}

.gcf-template-form__footer .components-button {
  margin-right: 10px;
}

.gcf-template-form__footer {
  margin-top: 20px;
  margin-left: 110px;
}

.gcf-template-form__add-field {
  margin-top: 2px;

  .dashicon {
    margin-right: 5px;
  }
}
